@import url("https://fonts.googleapis.com/css2?family=Trirong:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Trirong:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* GENERAL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
  font-weight: 400;
  /* font-family: "Trirong", serif; */
  font-family: "Trirong", serif;
  line-height: 1;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(66, 66, 66) gray;
}
*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
*::-webkit-scrollbar-track {
  background: gray;
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(66, 66, 66);
  border-radius: 20px;
  border: 3px solid rgb(66, 66, 66);
  box-shadow: 0 0 5px 1px black;
}

body {
  background-color: black !important;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

html {
  scroll-behavior: smooth;
  background-color: rgb(0, 0, 0);
  text-align: center;
  background-color: gray;
}

a {
  text-decoration: none;
}
/* END GENERAL */

/* Header */
#header {
  position: fixed;
  display: flex;
  flex-direction: row;
  padding: 20px;
  background-color: transparent;
  align-items: center;
  color: white;
  width: 100%;
  justify-content: space-between;
  z-index: 999;
  transition: 1s ease background-color;
}

#header .brand {
  font-size: 30px;
}
#header .brand a {
  text-decoration: none;
  color: inherit;
}

#header .nav-list ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin: auto 0;
}

#header .nav-list ul li a {
  color: inherit;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
  transition: 0.5s;
  font-weight: 500;
}

#header .nav-list ul li a:hover {
  text-shadow: 1px 1px 2px black, 0 0 1em #162d54, 0 0 0.2em #162d54;
  color: #162d54;
}
/* End Header */

/* Hero */
#hero {
  padding: 0;
  height: 100vh;
}
#hero video {
  position: relative;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  margin: 0;
  border: none;
}

#hero .header-contain {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
  margin: auto;
}

#hero .header-contain h1 {
  margin: 40px 0;
  font-size: 8rem;
  font-weight: 400;
}

#hero .header-contain h4 {
  font-size: 2rem;
  font-weight: 300;
}
/* End Hero */

.section-container {
  max-width: 1400px;
  margin: auto;
  height: 100%;
}

/* why-hire */
#why-hire {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 100px 50px;
  height: 100vh;
  margin: auto;
  background-color: #162d54;
  color: white;
  align-items: center;
  justify-content: center;
}

#why-hire h1 {
  padding: 50px;
  font-weight: bold;
  font-size: 4rem;
}

#why-hire p {
  padding: 50px;
  text-align: center;
  font-size: 20px;
  line-height: 1.3;
}
/* End why-hire */
.hr {
  color: #9d6c38;
  width: 90%;
  margin: auto;
}
/* paid-advertising */
#paid-advertising {
  background-color: black;
  padding: 100px 50px;
  color: white;
}
#paid-advertising .img-and-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 50px;
}
#paid-advertising h1 {
  font-size: 6rem;
  border-bottom: 1px solid white;
  width: max-content;
  margin: 0 auto;
}
#paid-advertising .img-and-text p {
  font-size: 2rem;
  padding: 50px;
  text-align: justify;
  color: white;
}
#paid-advertising .img-and-text img {
  height: 400px;
}
/* END paid-advertising */

/* expert-content */
#expert-content {
  background-color: black;
  padding: 100px 50px;
  color: white;
}

#expert-content h1 {
  font-size: 6rem;
  border-bottom: 1px solid white;
  width: max-content;
  margin: 0 auto;
}
#expert-content .img-and-text {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 50px;
}
#expert-content .img-and-text p {
  font-size: 2rem;
  padding: 50px;
  text-align: justify;
  color: white;
}
#expert-content .img-and-text img {
  height: 400px;
}
/* END expert-content*/

/* effective-search*/
#effective-search {
  background-color: black;
  padding: 100px 50px;
  color: white;
}
#effective-search h1 {
  font-size: 6rem;
  border-bottom: 1px solid white;
  width: max-content;
  margin: 0 auto;
}
#effective-search .img-and-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 50px;
}
#effective-search .img-and-text p {
  font-size: 2rem;
  padding: 50px;
  text-align: justify;
  color: white;
}
#effective-search .img-and-text img {
  width: 400px;
}
/* END effective-search*/
/* social media */
#social-media {
  background-color: black;
  padding: 100px 50px;
  color: white;
}
#social-media h1 {
  font-size: 6rem;
  border-bottom: 1px solid white;
  width: max-content;
  margin: 0 auto;
}
#social-media .img-and-text {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 50px;
}
#social-media .img-and-text p {
  font-size: 2rem;
  padding: 50px;
  text-align: justify;
  color: white;
}
#social-media .img-and-text img {
  width: 400px;
}
/* END social media */

/* Brands */
#brands {
  height: 300px;
  background-color: gray;
  display: flex;
  align-items: center;
  background-image: url("./images/brands-image.jpg");
  background-position: 25% 40%;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.539);
}

/* Slider */
.slick-slide {
  margin: 0px 30px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

.slide-brands {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100px;
}
.slide-brands .brands-image {
  margin: auto;
  align-items: center;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
/* End Brands */

/* Testimonials */
#testimonials {
  height: 100vh;
  color: white;
  padding: 100px 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#testimonials h1 {
  font-size: 3rem;
  padding: 10px;
}
#testimonials p {
  font-size: 2rem;
  padding: 10px;
}
.testim {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translatey(-50%);
  -moz-transform: translatey(-50%);
  -ms-transform: translatey(-50%);
  -o-transform: translatey(-50%);
  transform: translatey(-50%);
  margin: 100px 0;
}

.testim .wrap {
  position: relative;
  width: 100%;
  max-width: 1020px;
  padding: 40px 20px;
  margin: auto;
}

.testim .arrow {
  display: block;
  position: absolute;
  color: #eee;
  cursor: pointer;
  font-size: 2em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 5px;
  z-index: 22222222;
}

.testim .arrow:before {
  cursor: pointer;
}

.testim .arrow:hover {
  color: #ea830e;
}

.testim .arrow.left {
  left: 10px;
}

.testim .arrow.right {
  right: 10px;
}

.testim .dots {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 60px;
  left: 0;
  display: block;
  z-index: 3333;
  height: 12px;
}

.testim .dots .dot {
  list-style-type: none;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #eee;
  margin: 0 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: relative;
}

.testim .dots .dot.active,
.testim .dots .dot:hover {
  background: #ea830e;
  border-color: #ea830e;
}

.testim .dots .dot.active {
  -webkit-animation: testim-scale 0.5s ease-in-out forwards;
  -moz-animation: testim-scale 0.5s ease-in-out forwards;
  -ms-animation: testim-scale 0.5s ease-in-out forwards;
  -o-animation: testim-scale 0.5s ease-in-out forwards;
  animation: testim-scale 0.5s ease-in-out forwards;
}

.testim .cont {
  position: relative;
  overflow: hidden;
}

.testim .cont > div {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 0 70px 0;
  opacity: 0;
}

.testim .cont > div.inactive {
  opacity: 1;
}

.testim .cont > div.active {
  position: relative;
  opacity: 1;
}

.testim .cont div .img img {
  display: block;
  width: 150px;
  height: 150px;
  margin: auto;
  border-radius: 50%;
  object-fit: cover;
}

.testim .cont div h2 {
  color: #ea830e;
  font-size: 1.5em;
  margin: 15px 0;
}

.testim .cont div p {
  font-size: 1.15em;
  color: #eee;
  width: 80%;
  margin: auto;
}

.testim .cont div.active .img img {
  -webkit-animation: testim-show 0.5s ease-in-out forwards;
  -moz-animation: testim-show 0.5s ease-in-out forwards;
  -ms-animation: testim-show 0.5s ease-in-out forwards;
  -o-animation: testim-show 0.5s ease-in-out forwards;
  animation: testim-show 0.5s ease-in-out forwards;
}

.testim .cont div.active h2 {
  -webkit-animation: testim-content-in 0.4s ease-in-out forwards;
  -moz-animation: testim-content-in 0.4s ease-in-out forwards;
  -ms-animation: testim-content-in 0.4s ease-in-out forwards;
  -o-animation: testim-content-in 0.4s ease-in-out forwards;
  animation: testim-content-in 0.4s ease-in-out forwards;
}

.testim .cont div.active p {
  -webkit-animation: testim-content-in 0.5s ease-in-out forwards;
  -moz-animation: testim-content-in 0.5s ease-in-out forwards;
  -ms-animation: testim-content-in 0.5s ease-in-out forwards;
  -o-animation: testim-content-in 0.5s ease-in-out forwards;
  animation: testim-content-in 0.5s ease-in-out forwards;
}

.testim .cont div.inactive .img img {
  -webkit-animation: testim-hide 0.5s ease-in-out forwards;
  -moz-animation: testim-hide 0.5s ease-in-out forwards;
  -ms-animation: testim-hide 0.5s ease-in-out forwards;
  -o-animation: testim-hide 0.5s ease-in-out forwards;
  animation: testim-hide 0.5s ease-in-out forwards;
}

.testim .cont div.inactive h2 {
  -webkit-animation: testim-content-out 0.4s ease-in-out forwards;
  -moz-animation: testim-content-out 0.4s ease-in-out forwards;
  -ms-animation: testim-content-out 0.4s ease-in-out forwards;
  -o-animation: testim-content-out 0.4s ease-in-out forwards;
  animation: testim-content-out 0.4s ease-in-out forwards;
}

.testim .cont div.inactive p {
  -webkit-animation: testim-content-out 0.5s ease-in-out forwards;
  -moz-animation: testim-content-out 0.5s ease-in-out forwards;
  -ms-animation: testim-content-out 0.5s ease-in-out forwards;
  -o-animation: testim-content-out 0.5s ease-in-out forwards;
  animation: testim-content-out 0.5s ease-in-out forwards;
}

@-webkit-keyframes testim-scale {
  0% {
    -webkit-box-shadow: 0px 0px 0px 0px #eee;
    box-shadow: 0px 0px 0px 0px #eee;
  }

  35% {
    -webkit-box-shadow: 0px 0px 10px 5px #eee;
    box-shadow: 0px 0px 10px 5px #eee;
  }

  70% {
    -webkit-box-shadow: 0px 0px 10px 5px #ea830e;
    box-shadow: 0px 0px 10px 5px #ea830e;
  }

  100% {
    -webkit-box-shadow: 0px 0px 0px 0px #ea830e;
    box-shadow: 0px 0px 0px 0px #ea830e;
  }
}

@-moz-keyframes testim-scale {
  0% {
    -moz-box-shadow: 0px 0px 0px 0px #eee;
    box-shadow: 0px 0px 0px 0px #eee;
  }

  35% {
    -moz-box-shadow: 0px 0px 10px 5px #eee;
    box-shadow: 0px 0px 10px 5px #eee;
  }

  70% {
    -moz-box-shadow: 0px 0px 10px 5px #ea830e;
    box-shadow: 0px 0px 10px 5px #ea830e;
  }

  100% {
    -moz-box-shadow: 0px 0px 0px 0px #ea830e;
    box-shadow: 0px 0px 0px 0px #ea830e;
  }
}

@-ms-keyframes testim-scale {
  0% {
    -ms-box-shadow: 0px 0px 0px 0px #eee;
    box-shadow: 0px 0px 0px 0px #eee;
  }

  35% {
    -ms-box-shadow: 0px 0px 10px 5px #eee;
    box-shadow: 0px 0px 10px 5px #eee;
  }

  70% {
    -ms-box-shadow: 0px 0px 10px 5px #ea830e;
    box-shadow: 0px 0px 10px 5px #ea830e;
  }

  100% {
    -ms-box-shadow: 0px 0px 0px 0px #ea830e;
    box-shadow: 0px 0px 0px 0px #ea830e;
  }
}

@-o-keyframes testim-scale {
  0% {
    -o-box-shadow: 0px 0px 0px 0px #eee;
    box-shadow: 0px 0px 0px 0px #eee;
  }

  35% {
    -o-box-shadow: 0px 0px 10px 5px #eee;
    box-shadow: 0px 0px 10px 5px #eee;
  }

  70% {
    -o-box-shadow: 0px 0px 10px 5px #ea830e;
    box-shadow: 0px 0px 10px 5px #ea830e;
  }

  100% {
    -o-box-shadow: 0px 0px 0px 0px #ea830e;
    box-shadow: 0px 0px 0px 0px #ea830e;
  }
}

@keyframes testim-scale {
  0% {
    box-shadow: 0px 0px 0px 0px #eee;
  }

  35% {
    box-shadow: 0px 0px 10px 5px #eee;
  }

  70% {
    box-shadow: 0px 0px 10px 5px #ea830e;
  }

  100% {
    box-shadow: 0px 0px 0px 0px #ea830e;
  }
}

@-webkit-keyframes testim-content-in {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-moz-keyframes testim-content-in {
  from {
    opacity: 0;
    -moz-transform: translateY(100%);
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}

@-ms-keyframes testim-content-in {
  from {
    opacity: 0;
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@-o-keyframes testim-content-in {
  from {
    opacity: 0;
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes testim-content-in {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes testim-content-out {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  to {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@-moz-keyframes testim-content-out {
  from {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0);
  }

  to {
    opacity: 0;
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@-ms-keyframes testim-content-out {
  from {
    opacity: 1;
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  to {
    opacity: 0;
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@-o-keyframes testim-content-out {
  from {
    opacity: 1;
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@keyframes testim-content-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@-webkit-keyframes testim-show {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes testim-show {
  from {
    opacity: 0;
    -moz-transform: scale(0);
    transform: scale(0);
  }

  to {
    opacity: 1;
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

@-ms-keyframes testim-show {
  from {
    opacity: 0;
    -ms-transform: scale(0);
    transform: scale(0);
  }

  to {
    opacity: 1;
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@-o-keyframes testim-show {
  from {
    opacity: 0;
    -o-transform: scale(0);
    transform: scale(0);
  }

  to {
    opacity: 1;
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes testim-show {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@-webkit-keyframes testim-hide {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  to {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@-moz-keyframes testim-hide {
  from {
    opacity: 1;
    -moz-transform: scale(1);
    transform: scale(1);
  }

  to {
    opacity: 0;
    -moz-transform: scale(0);
    transform: scale(0);
  }
}

@-ms-keyframes testim-hide {
  from {
    opacity: 1;
    -ms-transform: scale(1);
    transform: scale(1);
  }

  to {
    opacity: 0;
    -ms-transform: scale(0);
    transform: scale(0);
  }
}

@-o-keyframes testim-hide {
  from {
    opacity: 1;
    -o-transform: scale(1);
    transform: scale(1);
  }

  to {
    opacity: 0;
    -o-transform: scale(0);
    transform: scale(0);
  }
}

@keyframes testim-hide {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0);
  }
}

@media all and (max-width: 300px) {
  body {
    font-size: 14px;
  }
}

@media all and (max-width: 500px) {
  .testim .arrow {
    font-size: 1.5em;
  }

  .testim .cont div p {
    line-height: 25px;
  }
}
/* End Testimonials */

/* CONTACT */
#contact {
  display: flex;
  flex-direction: column;
  position: relative;
  color: white;
}
#contact h1 {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%);
  font-size: 5rem;
  z-index: 1;
}
#contact img {
  max-height: 100vh;
  filter: brightness(0.5);
}
#contact button {
  position: absolute;
  left: 50%;
  bottom: 40%;
  transform: translate(-50%);
  font-size: 2rem;
  z-index: 1;
  background-color: white;
  color: black;
  padding: 10px;
  border: none;
  font-weight: bold;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 25px;
  border: 1px solid white;
}
#contact button:hover {
  background-color: #162d54;
  color: white;
}
/* END CONTACT */
#footer {
  background-color: #162d54;
  color: white;
}
#footer .footer-container {
  max-width: 1300px;
  margin: auto;
}

#footer .contact-info {
  display: flex;
  font-size: 2rem;
  padding: 50px;
  justify-content: space-between;
}

#footer .contact-info .mail {
  display: flex;
  align-items: center;
  padding: 10px;
}

#footer .contact-info .mail-info {
  text-align: left;
  padding: 10px;
  font-size: 1.5rem;
  flex-direction: column;
  display: flex;
  margin-bottom: auto;
}

#footer .contact-info .email-img {
  width: 35px;
  height: auto;
  margin-bottom: auto;
}

#footer .contact-info .address {
  display: flex;
  align-items: center;
  padding: 10px;
}

#footer .contact-info .address .address-info {
  text-align: left;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#footer .contact-info .address .address-img {
  width: 35px;
  height: auto;
  margin-bottom: auto;
}

#footer .coldwell-banker {
  display: flex;
  padding: 0px 100px;
}

#footer .coldwell-banker img {
  height: 60px;
}

#footer .coldwell-banker p {
  font-size: 2rem;
  padding: 0 50px 50px 50px;
  text-align: justify;
}

#footer .contact-info {
  display: flex;
  font-size: 2rem;
  padding: 50px;
  justify-content: space-between;
}

#footer .contact-info .phone {
  display: flex;
  align-items: center;
  padding: 10px;
}

#footer .contact-info .phone-info {
  text-align: left;
  padding: 10px;
  font-size: 1.5rem;
  flex-direction: column;
  display: flex;
  margin-bottom: auto;
}

#footer .contact-info .phone-img {
  width: 35px;
  height: auto;
  margin-bottom: auto;
  margin-top: px;
}

#footer .contact-info .open {
  display: flex;
  align-items: center;
  padding: 10px;
}

#footer .contact-info .open-info {
  text-align: left;
  padding: 10px;
  font-size: 1.5rem;
  flex-direction: column;
  display: flex;
  margin-bottom: auto;
}

#footer .contact-info .open-img {
  width: 35px;
  height: auto;
  margin-bottom: auto;
  margin-top: 8px;
}

#footer .footer-perse {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  font-size: 2rem;
}

#footer .footer-perse .media-icons {
  display: flex;
  flex-direction: row;
}

#footer .footer-perse .media-icons .media-container {
  border: 1px solid #9d6c38;
  border-radius: 50%;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 45px;
  height: 45px;
  cursor: pointer;
  transition: 0.5s;
}

#footer .footer-perse .media-icons .media-container:hover {
  background-color: rgba(255, 255, 255, 0.168);
}

#footer .footer-perse .media-icons .media-container img {
  position: absolute;
  top: 50%;
  left: 51%;
  transform: translate(-50%, -50%);
}
