@import url("https://fonts.googleapis.com/css2?family=Trirong:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* General  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
  font-weight: 400;
  font-family: "Trirong", serif;
  line-height: 1;
}

/* General - Scrollbar */
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(66, 66, 66) gray;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

*::-webkit-scrollbar-track {
  background: gray;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(66, 66, 66);
  border-radius: 20px;
  border: 3px solid rgb(66, 66, 66);
  box-shadow: 0 0 5px 1px black;
}

body {
  background-color: gray;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
/* End General - Scrollbar */

html {
  scroll-behavior: smooth;
  background-color: rgb(0, 0, 0);
  text-align: center;
  background-color: gray;
}

a {
  text-decoration: none;
}
/* End General  */

/* Header */
#header {
  position: fixed;
  display: flex;
  flex-direction: row;
  padding: 20px;
  background-color: transparent;
  align-items: center;
  color: white;
  width: 100%;
  justify-content: space-between;
  z-index: 999;
  transition: 1s ease background-color;
}

#header .brand {
  font-size: 30px;
}

#header .nav-list ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin: auto 0;
}

#header .nav-list ul li a {
  color: inherit;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
  transition: 0.5s;
  font-weight: 500;
}

#header .nav-list ul li a:hover {
  text-shadow: 1px 1px 2px black, 0 0 1em #162d54, 0 0 0.2em #162d54;
  color: #162d54;
}
/* End Header */

/* Hero */
#hero {
  padding: 0;
  height: 100vh;
}
#hero video {
  position: relative;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  margin: 0;
  border: none;
}

#hero .header-contain {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
  margin: auto;
}

#hero .header-contain h1 {
  margin: 40px 0;
  font-size: 3.1rem;
  font-weight: 400;
}

#hero .header-contain h4 {
  font-size: 1.5rem;
  font-weight: 300;
}

#hero .header-contain .searchbar {
  margin: 40px 0;
  display: flex;
  height: 40px;
  width: 100%;
  justify-content: center;
}

#hero .header-contain .searchbar form {
  display: inline-flex;
  justify-content: center;
  width: 400px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

#hero .header-contain input {
  background: url("./images//search.png") no-repeat 13px center;
  background-size: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
  outline: none;
  letter-spacing: 1.1px;
  padding: 9px 4px 9px 40px;
  border-radius: 5px 0 0 5px;
  border: none;
  font-size: 0.8rem;
  background-color: rgba(255, 255, 255, 0.734);
  font-size: 1.4rem;
}

#hero .header-contain input:focus {
  background-color: rgba(255, 255, 255, 0.734);
}

#hero .header-contain button {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  align-items: center;
  justify-content: center;
  border-radius: 0 5px 5px 0;
  border: none;
  border-left: 1px solid rgba(128, 128, 128, 0.466);
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.734);
  font-weight: 500;
  font-size: 1.4rem;
  color: black;
}

#hero .header-contain button:hover {
  background-color: #162d54;
  color: white;
}
/* End Hero */

/* About */
#about {
  position: relative;
  display: flex;
  padding: 100px 50px;
  max-width: 1400px;
  margin: auto;
  background-color: gray;
}

#about img {
  height: 500px;
  width: auto;
  border-radius: 20px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.469);
  transition: 0.5s;
}

#about img:hover {
  filter: grayscale(1);
}

#about .about-contain {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

#about .about-contain h1 {
  padding: 10px;
  font-weight: bold;
}

#about .about-contain p {
  padding: 10px;
  text-align: justify;
  font-size: 20px;
  line-height: 1.3;
}

#about .about-contain .about-links {
  padding: 10px;
  font-size: 20px;
}

#about .about-contain .about-links a {
  color: #162d54;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

/* End About */

/* Brands */

#brands {
  height: 300px;
  background-color: gray;
  display: flex;
  align-items: center;
  background-image: url("./images/brands-image.jpg");
  background-position: 25% 40%;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.539);
}

/* Slider */
.container {
  width: 30000px;
}
.slick-slide {
  margin: 0px 30px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100px;
}
.slide img {
  margin: auto;
  align-items: center;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
/* End Brands */

/* Testimonials */
#testimonials {
  height: 500px;
  background-color: red;
}
#carouselExampleDark .slide {
  display: inherit;
  align-items: center;
  justify-content: center;
  position: inherit;
  height: 100px;
}
#carouselExampleDark .slide img {
  position: inherit;
}

/* End Testimonials */

#buildings {
  height: 500px;
  background-color: purple;
}
#blog {
  height: 500px;
  background-color: red;
}
#places {
  height: 500px;
  background-color: yellow;
}
#contact {
  height: 500px;
  background-color: green;
}
#footer {
  height: 300px;
  background-color: #162d54;
}
